In [2]:
range(5)

range(0, 5)

In [4]:
# for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
# strings

str="Omkar Bhosale"

for i in str:
    print(i)

O
m
k
a
r

B
h
o
s
a
l
e

In [12]:
## While loop
# The while loop continuous to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [3]:
#loop control statements
#break : this statement exits the loop prematurely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [4]:
# continue : this statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [5]:
# pass : this statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [6]:
# Nested loops: A loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [8]:
# calculate the sum of first N Natural number using a while and for loop.

## while loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print("The sum of first 10 Natural Numbers are: ",sum)

The sum of first 10 Natural Numbers are:  55

In [10]:
#for loop

n=10
sum=0

for i in range(11):
    sum=sum+i

print(sum)

55

In [11]:
# prime number b/w 1 & 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97